body{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-size: 25px;
    color:  #076408;
    background-color:#9DA99C;
    overflow-x: hidden;
}
 
.header{
    height: 90px;
    border-bottom: 3px solid #076408;
    width: 100%;
    margin: auto;
    display: flex;
    color: #076408;
    font-weight: 500;
    font-family: 'Heaters';
    font-size: 80px;
    
}
    
.logo{
    mix-blend-mode: multiply;
    margin-left: 1px;
}
.header a{
    text-decoration: none;
    color: #076408;
}
.navbar{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    color: #076408;
}
.agora{
    font-weight: 500;
    text-shadow: 2px 2px red;
}
.olaUser{
    width: fit-content;
    font-family: 'Cinzel', serif;
    font-size:30px;
}

.sobrevoce {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 7px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    height: 450px;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease-out;
  }
  .imagem{
   
    
    width: 150px;
    mix-blend-mode: multiply;
  }


.pergunta{
    margin-left: 15px;
}
.btnResultado{
    margin-left: 15px;
    background-color: #076408;
        border-radius: 10px;
        border: 0;
        display: inline-block;
        cursor: pointer;
        color:#9DA99C;
        font-size: 45px;
        padding: 1px 20px;
        text-decoration: none;
        font-family: 'Heaters';         
        font-weight: 500;
}
.input_respostas{
    width: 20px;
    border-width: 5px;
    border-color: #076408;
}
.pescador{
    display: flex;
    
    
}
.cardPescador{
    border-radius: 40px;
    box-shadow: 7px 7px 13px 7px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 1200px;
    height: 1200px;
    text-align: center;
    /* align-items: center; */
    transition: all 0.3s ease-out;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}
.cardMedia{
width: 30%;
height: 105px;
border: 3px solid #076408;
border-width: 1;
justify-content: center;
position: relative;
top:18%

}


